.courseheader{
    display: flex;
    align-items: center;
    justify-content: start;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    width: 70px;
    height: 70px;
    box-shadow: 1px 2px 3px  4px rgb(25, 144, 183);
}
.img img{
    margin-top: 0px;
}

.cat{
    background-color:  #DFEEFF;
    color: #007DFA;
    border-radius: 20px;
    padding:7px;
}


