.Button-box{
    display: flex;
    margin:15px;
    justify-content: space-between;
    margin-left: 0px;
}

.Button-box button{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background: #007DFA;
    color:white;
}

.Button-box a{
    color: #007DFA;
}
