#login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    background-color: #f5f5f7;
    border-radius: 5px;
    height: 65px;
    width: 180px;
}

.img{
    border: 1px solid #0C83FA;
    border-radius: 50%;
    width: 60px;}

#login p{
    color:#5c6078;
    margin-left:10px;
    align-items:center;
    margin: 5px;
}

#Lsvg{
    margin-right: 5px;
}

#login img{
    border-radius: 50%;
    width: 55px;
    height: 55px;
    box-shadow: 0px 0.5px 2px  2px rgb(25, 144, 183);
    margin: 10px;
}

