.lesson{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.lesson h3{
    color:#5c6078;
    margin-left:5px;
    font-size: 19px;
    padding: 6px;
}

.lsvg{
    color:#0C83FA;  
    font-size: 25px;
}

