.online{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.online h3 {
    color: #5c6078;
    margin-left:5px;

}

.Osvg{
    color:#0C83FA;
    font-size: 25px;
}